<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/favicon.png" />

    {{#block "title"}}
      <title>{{env.name}}</title>
    {{/block}}

    {{#block "styles"}}
      <link rel="stylesheet" type="text/css" href="/css/app.css">
    {{/block}}

    {{#block "meta"}}
    {{/block}}

  </head>
  <body>
    {{#block "top"}}
    {{/block}}

    {{#block "body"}}
    {{/block}}

    {{#block "scripts"}}
      <!--<script src="/assets/js/summit.min.js"></script>-->
    {{/block}}
  </body>
</html>