<!DOCTYPE html>
<html>
  <head>
    {{#block "title"}}
      <title>Summit App</title>
    {{/block}}

    {{#block "styles"}}
      <link rel="stylesheet" type="text/css" href="/assets/css/summit.min.css">
    {{/block}}

    {{#block "meta"}}
    {{/block}}

  </head>
  <body>
    {{#block "top"}}
    {{/block}}

    {{#block "body"}}
    {{/block}}

    {{#block "scripts"}}
      <!--<script src="/assets/js/summit.min.js"></script>-->
    {{/block}}
  </body>
</html>