{{#extend "default_layout"}}
  {{#replace "title"}}
    <title>Summit CMS</title>
  {{/replace}}

  {{#replace "styles"}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  {{/replace}}
{{/extend}}