{{#extend "default_layout"}}
  {{#replace "title"}}
    <title>Summit CMS</title>
  {{/replace}}

  {{#replace "styles"}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  {{/replace}}

  {{#prepend "scripts"}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  {{/prepend}}
{{/extend}}