{{#extend "layout"}}
{{#replace "body"}}

<h1>Page :: Edit</h1>

<form method="post">
	{{#page}}
	<input type="hidden" name="id" value="{{_id}}"/>
	<input type="text" name="slug" value="{{slug}}" placeholder="/path/to/resource" />
	<input type="title" name="title" class="form-control" value="{{title}}" placeholder="Page Title"/>
	<textarea name="body" placeholder="Page Content">{{body}}</textarea>
 	
	<input type="submit" value="Save"/>
	{{/page}}
</form>
{{/replace}}
{{/extend}}