{{#extend "cms_layout"}}
{{#replace "body"}}
<div class="container">
  <h1>Posts</h1>

  <table class="table table-striped">
    <tbody>
      {{#posts}}
      <tr>
        <td><a href="{{slug}}">{{title}}</a></td>
        <td><a href="/post/{{_id}}">Edit</a></td>
      </tr>
      {{/posts}}
    </tbody>
  </table>

  <a href="/post" class="btn btn-primary">Create Post</a>
</div>
{{/replace}}
{{/extend}}