{{#extend "layout"}}
{{#replace "body"}}
  <h1>Collections</h1>
  <h2>Collections</h2>
  <h3>Collections</h3>
  <ul>
    {{#collections}}
      <li><p>{{name}} {{#isPostType}}&check;{{/isPostType}}</p></li>
    {{/collections}}
  </ul>
{{/replace}}
{{/extend}}