{{#extend "layout"}}
{{#replace "body"}}
<div id="newCollection">
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <h1>New Collection</h1>
    
    <form action="/collections">
      <div class="form-group">
        <label for="name">Name</label>
        <input 
          type="text" 
          name="name" 
          class="form-control"
          id="name"
          placeholder="Posts"
          required
        />
      </div>
      
      <div class="form-group">
        <label for="isPostType">Is Post Type: 
          <input 
            type="checkbox" 
            name="isPostType" 
            id="isPostType"
            required
          />
        </label>
      </div>

      <input type="submit" class="btn btn-success" value="+ Create New Collection">

      <div class="fields" id="fields">
        <h2>Fields</h2>
        <div rv-each-field="fields" class="field row">
          <div class="col-xs-9 col-sm-4">
            <p contenteditable="true">{ field.name }</p>    
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <select name="type" class="form-control" rv-value="field.type">
                <option
                  rv-each-type="types"
                  rv-value="type"
                >{ type }</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>

    <form id="newField" class="new-field">
      <div class="form-group">
        <label for="fieldName">Name</label>
        <input 
          type="text" 
          name="newFieldName" 
          id="newFieldName"
          class="form-control"
          placeholder="Posts"
          required
        />
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select name="type" class="form-control" id="newFieldType">
          <option
            rv-each-type="types"
            rv-value="type"
          >{ type }</option>
        </select>
      </div>
      <button id="addField" type="button" class="btn btn-success">+ Add Field</button>
    </form>

  </div>
</div>
</div>
{{/replace}}

{{#append "scripts"}}
<script>
$(function () {
  State.set('fields', []);
  
  State.set('types', ['string', 'text', 'upload']);

  rivets.bind($('body'), State.get());
  
  $('#addField').click(function () {
    var newField = {
      name: $('#newFieldName').val(),
      type: $('#newFieldType').val()
    };

    var newFields = State.get('fields').concat([newField]);
    State.set('fields', newFields);
  });

  $('#newField').submit(function (e) {
    e.preventDefault();
    e.stopPropagation();
    e.stopImmediatePropagation();

    $('#addField').click();
  })
})
</script>
{{/append}}
{{/extend}}